<div class="text-left game-item" *ngIf="game">
  <div class="game-info">
    <h1>{{ game.name }}</h1>
    <p>A game created by {{ game.brand }}</p>
    <img class="game-alone-pic" [src]="game.picture" alt="Game Image">
    <p>{{ game.minAge }}+</p>
    <p>{{ game.minPlayers }} - {{ game.maxPlayers }} players</p>
    <p class="game-description">{{ game.description }}</p>
  </div>
  <div class="game-buttons" *ngIf="userServiceObj.userLoggedId">
    <div>
      <button class="btn" (click)="goToEditGame()" >Edit Game</button>
      <button class="red-btn" (click)="deleteGame(game.id)" >Delete Game</button>
    </div>
    <div>
      <h3>Add to collection: </h3>
      <button class="add-btn" (click)="addGameToUser(game.id)" >Add to My Games</button>
      <button class="add-btn" (click)="addWishlistToUser(game.id)" >Add to Wishlist</button>
      <button class="add-btn" (click)="addFavouriteToUser(game.id)" >Add to Favourites</button>
    </div>
  </div>
</div>

