<div class="form-container">
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="edit-form">
    <input type="text" formControlName="name" placeholder="Name">
    <input type="text" formControlName="brand" placeholder="Brand">
    <input type="text" formControlName="picture" placeholder="Picture">
    <input type="number" formControlName="minAge" placeholder="Minimum Age">
    <input type="number" formControlName="minPlayers" placeholder="Minimum Players">
    <input type="number" formControlName="maxPlayers" placeholder="Maximum Players">

    <textarea formControlName="description" placeholders="Description"></textarea>

  <button class="auth-btn" type="submit" [disabled]="form.invalid" >Save Game</button>
</form>
</div>
