<div class="padding form-container" *ngIf="user" >
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="edit-form">
    <label>
      Username:
      <input type="text" formControlName="username">
    </label>
    <label>
      Email:
      <input type="text" formControlName="email">
    </label>
    <label>
      Self Description:
      <textarea formControlName="selfDescription"></textarea>
    </label>
    <!-- <label>
      Date of Birth:
      <input type="date" formControlName="dateOfBirth">
    </label> -->
    <label>
      Profile Picture URL:
      <input type="text" formControlName="profilePicUrl">
    </label>
    
    <button class="auth-btn" type="submit">Save changes</button>
  </form>
</div>
