<div class="home-page">
  <h1 class="app-title">GAME GEEKERS</h1>

  <div class="home-section">

  <section class="random-card" *ngIf="game">
    <h3>The Random game of the day:</h3>
    <div class="card text-center">
      <a [routerLink]="['/games', game.id]">
        <img class="card-img-top game-pic" src="{{game.picture}}" alt="Game image">
        <div class="card-body">
          <p class="card-title">{{game.name}}</p>
        </div>
      </a>
    </div>
    <button class="add-btn" (click)="getRandomGame()">Check another game</button>
  </section>

  </div>

</div>
