<p>games works!</p>
<p> Here it goes the list of the games</p>
<div class="padding">

<div *ngIf="showForm">
  <app-new-game (gameCreated)="addGame($event)"></app-new-game>
</div>
<button (click)="showForm = !showForm">{{ showForm ? 'Hide Section' : 'Add New Game' }}</button>

<section *ngIf="gamesList">
  <div class="row">
    <div class="card-deck">
      <div class="card text-center" *ngFor="let game of gamesList">
        <a [routerLink]="['/games', game.id]">
          <img class="card-img-top, game-pic" src="{{game.picture}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{game.name}}</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
</div>


