<p>games works!</p>
<p> Here it goes the list of the games</p>
<div *ngIf="showForm">
  <app-new-game (gameCreated)="addGame($event)"></app-new-game>
</div>
<button (click)="showForm = !showForm">{{ showForm ? 'Hide Section' : 'Add New Game' }}</button>

<section *ngIf="gamesList">
  <ul>
    <li *ngFor="let game of gamesList">
      <!-- <a (click)="getCharacterId(character.id)">{{ character.name }}</a> -->
        <h1> {{ game.name }} </h1>
        <img class="game-pic" src="{{game.picture}}"/>
    </li>
  </ul>
</section>


