@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Shadows+Into+Light&family=VT323&family=Viga&display=swap');

body {
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 255, 191, 0.129);

}

.padding{
  padding-left: 5%;
  padding-bottom: 12%;
}

.nav-bar{
  position: fixed;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(7, 7, 7, 0.580);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'VT323', monospace;

}

.card-deck{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items:flex-start;
  padding-top: 50px;


}

.card{
  background-color: rgba(135, 135, 135, 0.457);
  padding: 10px;
  padding-top: 15px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  width: 200px;

}
.game-pic{
  height: 200px;
}

.game-alone-pic{
  height: 400px;
}

.footer div > a {
  text-decoration: none;
 }
