@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mina&family=Montserrat&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&family=VT323&family=Viga&display=swap');
body {
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 255, 191, 0.129);
  text-align: center;
  padding-bottom: 12%;

}
h1, h2, h3, h4, h5{
  font-family: 'Anton', sans-serif;
}

.padding{
  padding-bottom: 12%;
}
.padding-left{
  padding-left: 5%;
}

.text-left{
  text-align: left;
  padding-left: 5%;
}
.light-theme {
  background-color: green;
  color: black
}

.light-theme button {
  background-color: green;
  color: black;
  border-radius: 10px;
  padding: 5px;
}

.light-theme button:hover {
  background-color: blue;
}

/* Dark theme */
.dark-theme {
  background-color: black;
  color: white;
}

.dark-theme button {
  background-color: black;
  color: rgb(251, 251, 251);
  border-radius: 10px;
  padding: 5px;
}

.dark-theme button:hover {
  background-color: white;
  color: black
}

.nav-bar{
  position: fixed;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(7, 7, 7, 0.580);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'VT323', monospace;

}

.card-deck{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items:flex-start;
  padding-top: 50px;


}

.card{
  background-color: rgba(135, 135, 135, 0.556);
  padding: 10px;
  padding-top: 15px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  width: 200px;
  font-family: 'Mina', sans-serif;
  font-size: larger;
}

.card > a{
  text-decoration: none;
  color: black;
}

.card > a:hover {
  color:rgb(104, 36, 241)
}

.game-pic{
  height: 200px;

}

.game-alone-pic{
  height: 350px;
}

.footer div > a {
  text-decoration: none;
 }

.btn{
  background-color: aquamarine;
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-top-left-radius: 10px;
  font-family: 'Viga', sans-serif;
}
.btn:hover{
  background-color: rgb(36, 241, 173);
  padding: 7px;

}

.red-btn{
  background-color: rgba(255, 0, 0, 0.674);
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-top-left-radius: 10px;
  font-family: 'Viga', sans-serif;
}

.red-btn:hover{
  background-color: rgb(255, 0, 0);
  padding: 7px;
}

