<div class="padding profile">
  <h1>Profile</h1>
  <div>
    <div *ngIf="currentUser">
      <h1>HELLO {{currentUser.username}}</h1>
      <img class="game-pic" [src]="currentUser.profilePicUrl" alt="Profile Image">
      <p>Email: {{currentUser.email}}</p>
      <p>Date of Birth: {{currentUser.dateOfBirth}}</p>
      <p>Address: {{currentUser.address.city}}, {{currentUser.address.street}}</p>
      <p>Role: {{currentUser.role}}</p>
      <!-- <p>Age: {{currentUser.getAge() }}</p> -->
    </div>
    <div class="prof-btn">
      <button class="btn" (click)="goToEditProfile()">Edit Profile</button>
      <button class="red-btn" (click)="deleteUser(currentUser.id)">Delete User</button>
    </div>
  </div>
  <div>
    <h3>WishList</h3>
    <!-- <p>{{currentUser.WishList}}</p> -->
  </div>

</div>
